@model One_Stop_Solution.Models.Services
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Thank You!!!</h1>
<h2>Your Order Has Been Placed</h2>
<a class="btn btn-primary" asp-controller="Home" asp-action="Main">Home </a>
    



  